body {
    background-color: #ffe6e6;
    width: 500;
    height: 500;
    border: solid;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }

h1 {
    color: orange;
  }

.btn {
    width: 60px;
    height: 40px
  }

  #clear {
    width: 60px;
    height: 40px
  }

  #exit {
    width: 65px;
    height: 40px
  }

  button[type=button] {
    width: 200px;
    height: 40px
  }

  button[type=submit] {
    width: 200px;
    height: 40px
  }

  input[type=text] {
    width: 100%;
    text-align: center;
  }
  input[type=password] {
    width: 100%;
    text-align: center;
  }

  p {
    width: 300px;
    min-height: 30px;
    border: solid;
    margin-top: 20px;
  }